{
  "title": "Customer feedback",
  "webhook_submit_url": "https://customer-feedback.eu.ngrok.io/results",
  "branding": false,
  "fields": [
    {
      "type": "rating",
      "steps": 10,
      "shape": "star",
      "question": "How satisfied were you with resolution of {{hidden_issue_key}} {{hidden_issue_title}}????",
      "required": true
    }
  ]
}
